<nav class="w-full border-b border-[#dedbd5] bg-[#ebe9e4]">
  <div class="mx-auto flex max-w-5xl justify-end gap-8 px-6 md:px-12">

    <a routerLink="/about" routerLinkActive="text-[#272727] after:scale-x-100"
      [routerLinkActiveOptions]="{ exact: true }" class="relative py-5 text-sm text-[#77736d] transition-colors
             after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
             after:origin-left after:scale-x-0 after:bg-[#272727]
             after:transition-transform hover:text-[#272727]">
      About
    </a>

    <a routerLink="/pricing" routerLinkActive="text-[#272727] after:scale-x-100"
      [routerLinkActiveOptions]="{ exact: true }" class="relative py-5 text-sm text-[#77736d] transition-colors
             after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
             after:origin-left after:scale-x-0 after:bg-[#272727]
             after:transition-transform hover:text-[#272727]">
      Pricing
    </a>

    <a routerLink="/contact" routerLinkActive="text-[#272727] after:scale-x-100"
      [routerLinkActiveOptions]="{ exact: true }" class="relative py-5 text-sm text-[#77736d] transition-colors
             after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
             after:origin-left after:scale-x-0 after:bg-[#272727]
             after:transition-transform hover:text-[#272727]">
      Contact
    </a>
    <a routerLink="/pokemons/page/1" routerLinkActive="text-[#272727] after:scale-x-100" class="relative py-5 text-sm text-[#77736d] transition-colors
          after:absolute after:bottom-0 after:left-0 after:h-px after:w-full
          after:origin-left after:scale-x-0 after:bg-[#272727]
          after:transition-transform hover:text-[#272727]">
      Pokemons
    </a>
  </div>
</nav>